<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
	
	<div th:if="${param.error}"> 🚫 Wrong Credentials!</div>
	<div th:if="${param.logout}"> ✅ You have been logged out!</div><br>
		
    <form th:action="@{/login}" method="post">
		
        Email : <input type="email" name="email" required><br><br>
        Password: <input type="password" name="password" required/><br><br>
        <input type="submit" value="Login">
    </form>
	
</body>
</html>