<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <div th:if="${user == null}">
		<h3>Welcome Guest</h3>
		<small>You are current not loggend in</small><br>
		<a th:href="@{/login}">Login</a>&nbsp;&nbsp;
		<a th:href="@{/signup}">Signup</a>
	</div>
    <div th:if="${user}">
		<h2>Hello <span th:text="${user.name}">Guest</span></h2>

		    Email : <span th:text="${user.email}"></span>
		    <br><br>
		    Date of Birth : <span th:text="${user.dob}"></span>
			<br><br>
			ROLE : <span th:text="${user.role}">DEFAULT</span>
			<br><br>
			
			<form th:action="@{/logout}" method="post"><button>Log out</button></form>
			
	</div>

</body>
</html>